/*------------//SETUP//------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    

    html{
        background: linear-gradient(100deg,rgba(0,0,0, 0.7)10%, rgba(0,0,0, 0.7)0%), url(img/aa.jpeg) #CCC no-repeat right top;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100;
        font-family: 'Times New Roman','Arial', sans-serif;
        font-weight: 300px;
        font-size:20px;
        text-rendering: optimizeLegibility;
        }

/*------------//BUTTONS//------------*/

    
.btn:link, 
.btn:visited
{
    display: inline-block;
    padding: 15px 60px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    transform: translateY(4px);
}
        
.btn-full:link,
.btn-full:visited
{
    /*background-color:rgb(95, 95, 95);*/
    border: 2px solid rgb(153, 156, 153);
    margin-right: 15px;
}
        
.btn-ghost:link,
.btn-ghost:visited
{
    border: 2px solid rgb(153, 156, 153);
}
        
.btn:hover, 
.btn:active
{
    background-color:rgb(153, 156, 153);
    transform: translateY(4px);
}
           
        
.btn-full:hover,
.btn-full:active
{
    border: 2px solid rgb(95, 95, 95);
    transform: translateY(4px);          
}
           
.btn-ghost:hover,
.btn-ghost:active
{
    border: 2px solid rgb(95, 95, 95);
    transform: translateY(4px);          
}



/*------------//RETURN BUTTON//------------*/
.btnback
{
    display: inline-block;
    padding: 15px 60px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    transform: translateY(4px);
    position: absolute;
    top: 75%;
    left:45%;
    
}

.btnback:link,
.btnback:visited
{                          
    border: 2px solid rgb(153, 156, 153);
    margin-right: 15px;
}
.btnback:hover, 
.btnback:active
{
    background-color:rgb(153, 156, 153);
    transform: translateY(4px);
}
/*-----------------------------------------*/





/*------------//POSITION//------------*/
.hero{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}

#Phrase{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

.Guide{
    
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    padding: 20px; 
    color: #ffffff;
    background: url(img/field.jpg);
}

.GameArea{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    
    
}



/*#hero{
    background: red;
    height: 50px;
    width: 50px;
}*/